<section>
    <form #categoryForm="ngForm" (ngSubmit)="onSearchCategory(categoryForm)">
        <div >
            <input
                    type="text"
                    name="searchTerm"
                    ngModel
                    placeholder="Rechercher une catégorie"
            />
            <button type="submit">Rechercher</button>
            <button type="button" (click)="resetFilter(categoryForm)">Réinitialiser</button>
        </div>
    </form>

    <!-- Liste des catégories filtrées -->
    <section class="section-card" *ngFor="let categorie of quizCategorie">
        <h4 class="" (click)="goQuizCategorie(categorie.id)">
            {{ categorie.name }}
        </h4>
    </section>
</section>